<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mora: Política de privacidad</title>
</head>
<body style="display: flex; flex-direction: column; overflow-y: auto">
    <h1 style="align-self: center">Política de Privacidad</h1>
    <h3>Recopilación y uso de información personal</h3>
    <p>
        Nuestra aplicación no recopila ni almacena ninguna información personal que sirva para identificar, por fuera
        de la aplicación, a los niños y niñas que jueguen Mora.
        Para indentificar a los jugadores y las jugadoras, es necesario que se creen un perfil en donde tendrán que
        elegir un alias (nombre de usuario/a ficticio), completar su edad y elegir un avatar. La información de edad
        solo es necesaria para fines científicos.
        Además, para permitir tener multiples perfiles en un mismo dispositivo, se almacena el ID único del mismo
        que sirve para identificar unívocamente a cualquier jugador/a sin necesidad de ningún otro dato.
    </p>
    <h3>Recopilación y uso de información técnica</h3>
    <ul>
        <li>
            Mora puede usarse de manera offline, por lo tanto la información descrita en la sección anterior solo será
            almacenada si el dispositivo cuenta con acceso a internet.
        </li>
        <li>
            Con el fin de mejorar la experiencia de los niños y niñas mientras aprenden matemáticas, almacenamos en
            nuestra base de datos (siempre que el dispositivo tenga acceso a internet) las respuestas a cada una de las
            operaciones realizadas, incluyendo el tiempo que transcurre entre que se muestra la operación y se ingresa
            la respuesta.
        </li>
        <li>Se utilizan los sonidos para que la aventura tenga otros estímulos además de los visuales. No se utiliza el
            micrófono para ninguna funcionalidad.</li>
        <li>No compartimos la información mencionada anteriormente con terceros.</li>
    </ul>
    <h3>Seguridad</h3>
    <p> Nuestros servidores están ubicados en un entorno seguro. Como ningún sistema está completamente excento de
        fallas, no podemos garantizar de manera absoluta la seguridad de los datos. Sin embargo, empleamos todas las
        medidas de seguridad estandar en la industria para evitar que los datos lleguen a cualquier persona que no sea
        parte del proyecto.
    </p>
    <h3>Publicidad</h3>
    <p> Mora no muestra ningún tipo de publicidad</p>
    <h3>Comité de ética</h3>
    <p> El uso de los datos recopilados en esta aplicación se encuentra avalado por el Comité de Ética Humana de la
        Facultad de Medicina de la Universidad de Buenos Aires. <br> El documento que certifica lo mencionado puede
        consultarse en el siguiente link: <a href="{{ url_for('static', filename='ethics_committee.pdf') }}">Comité de Ética-FMED-UBA</a>
    </p>
    <h3>Información de contácto</h3>
    <a type="email"> labs@eryx.co </a>
</body>
</html>